<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: outer_head}">

<body class="bg-gradient-primary h-100" style="background: var(--info);">
    <nav th:replace="~{fragments :: outer_nav}"></nav>
    <div class="row justify-content-center">
        <div class="col-md-8 pt-5">
            <div class="px-2 pt-5 mt-5">
                <div class="text-center">
                    <h4 class="text-white mb-2" style="color: var(--white);">Forgot Your Password?</h4>
                    <p class="mb-4" style="color: var(--white);">We get it, stuff happens. Just enter your email address below and we'll send you a link to reset your password!</p>
                </div>
                <form class="user">
                    <div class="form-group">
                        <input class="form-control form-control-user" type="email" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address..." name="email">
                    </div>
                    <!-- Anchor to be removed -->
                    <a href="#myModal" data-toggle="modal">
                        <button class="btn btn-primary btn-block text-white btn-user" type="submit">
                            Reset Password
                        </button>
                    </a>
                </form>
                <div class="text-center">
                    <hr><a class="small" th:href="@{/register}" style="color: var(--white);">Create an Account!</a>
                </div>
                <div class="text-center"><a class="small" th:href="@{/login}" style="color: var(--white);">Already have an account? Login!</a></div>
            </div>
        </div>
       
        <!-- Modal HTML -->
        <div id="myModal" class="modal fade">
            <div class="modal-dialog modal-confirm">
                <div class="modal-content">
                    <div class="modal-header justify-content-center">
                        <div class="icon-box">
                            <i class="material-icons">&#xf187;</i>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body text-center">
                        <h4>Great!</h4>	
                        <p>Password reset instructions has been sent to your mail.</p>
                        <!-- <button class="btn btn-success" data-dismiss="modal"><span>Start Exploring</span> <i class="material-icons">&#xE5C8;</i></button> -->
                    </div>
                </div>
            </div>
        </div>     
    </div>
</body>

</html>